@model Forum.Entities.Category

@{
    ViewData["Title"] = "Category";
}



<div class="text-center">
    <h1>@Html.DisplayFor(item => item.Name)</h1>
    <p>@Html.DisplayFor(item => item.Description)</p>
    <p>Topics:</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Date</th>
                    <th scope="col"># of Responses</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Topics)
                {
                <tr>
                    <td>@Html.DisplayFor(Modelitem => item.Id)</td>
                    <td>@Html.DisplayFor(Modelitem => item.Content)</td>
                    <td>@Html.DisplayFor(Modelitem => item.Author.Username)</td>
                    <td>@Html.DisplayFor(ModelItem => item.Date)</td>
                    <td>@Html.DisplayFor(ModelItem => item.Responses.Count)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
